@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.youtube__outer__outer{
  width:100%;
  height:fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none; /* Standard syntax */
}
.youtube__outer{
  width:100%;
  height:fit-content;
}
.youtube__section1{
  width:100%;
  height:20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube_img{
  width:500px;
  height:85%;
}


.youtube__heading{
  width:100%;
  height:8rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;

}
.youtube__heading__mobile{
  width:100%;
  height:6rem;
  font-size: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}









@media screen and (min-width:1510px)
{
  .youtube__outer{
      width:90%;
  }
}
@media screen and (min-width:2000px)
{
  .youtube__outer{
      width:80%;
  }
}
@media screen and (min-width:2100px)
{
  .youtube__outer{
      width:60%;
  }
}
@media screen and (max-width:770px)
{
  .youtube__heading{
    font-size: 2.5rem;
  
  }
}
@media screen and (max-width:541px)
{
  .youtube__heading{
    font-size: 2rem;
  }
  .youtube__section1{
    width:100%;
    height:15rem;
  }
}
@media screen and (max-width:432px)
{
  .youtube__heading__mobile{
    display: flex;
  }
  .youtube__heading{
    display: none;
  }
}
