@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.card__heading {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.card__section{
    display: flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width:602px)
{
    .card__heading {
        font-size: 1.7rem;
    }
}
